<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*" verb="*" modules="CgiModule" scriptProcessor="D:\Adithya_Workspace\python\project_env\project_env\Scripts\python.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
